doctype html
html(lang='en')
	head
		title Claritin
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		link(rel='shortcut icon', href='img/favicon.ico')
		link(rel='apple-touch-icon', sizes='180x180', href='img/apple-icon-180x180.png')
		link.del-in-ie10(rel='icon', type='image/png', sizes='192x192', href='img/android-icon-192x192.png')
		link.del-in-ie10(rel='icon', type='image/png', sizes='32x32', href='img/favicon-32x32.png')
		link.del-in-ie10(rel='icon', type='image/png', sizes='16x16', href='img/favicon-16x16.png')
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='css/tooltipster.bundle.css')
		link(rel='stylesheet', href='fonts/fonts.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900', rel='stylesheet')
	body
		.wrapper
			header.header
				.container.row-line.center
					.header__logo
						a(href='#')
							img(src='img/logo.png', alt='')
					.burger
						button.hamburger
							i
							i
							i
						button.cross
							i
							i
							i
					.header-menu
						ul.header-menu__list.header-menu__list--right
							li.header-menu__item
								a.header-menu__link(href='/venir') Français 
			main.page__main.main
				.container
					.home-slider__top.home-slider__top
						.home-slider__item
							img.home-slider__image.home-slider__image--hidden-mobile(src='img/banner.png', alt='houdini')
							img.home-slider__image.home-slider__image--visible-mobile(src='img/banner-mob.png', alt='houdini')
							.home-slider__content
								img.home-slider__slogan.home-slider__slogan--hidden-mobile(src='img/title-desk.png', alt='')
								img.home-slider__slogan.home-slider__slogan--visible-mobile(src='img/title-mob.png', alt='')
								.row-line
									.column
										h3.home-slider__title.home-slider__title--indentation
											| For your chance to 
											strong WIN
											| * 1 of 3 $1,000 Shoppers Drug Mart gift cards!
										p.home-slider__text.home-slider__text--indentation
											| Allergies keeping you indoors? One non-drowsy Claritin
											sup ®
											|  pill provides 24 hour relief from indoor** and outdoor
											sup †
											|  allergies. Take the Claritin
											sup ®
											|  Outsider Quiz to find out what kind of outsider you are.
							.home-slider__txt
								span **dust, pets, mould
								span
									sup †
									| pollen, trees, grass, ragweed
					.single__description.single__description--large
						h3 COMING SOON
						p  Contest starts April 16, 2018
					.single-result
						.single-result__text.single-result__text--center
							p.single-result__text--white
								strong *NO PURCHASE NECESSARY TO ENTER OR WIN.
								|  Contest starts April 16, 2018 and ends May 25, 2018. Open only to legal Canadian residents 18 and older. To enter, go to 
								a(href='https://www.claritin.ca/', target='_blank')  www.claritincontest.com, 
								|  complete the online registration form, take the quiz and click “submit”. There are 3 Prizes available to be won. Each prize consists of 1 x $1,000 Shoppers Drug Mart/Pharmarprix Gift Card (ARV $1000.00). Limit one entry per day, per person. Draw Date: June 1, 2018. Correct skill testing question required. Limit of one prize per household.
			footer.footer
				.container
					ul.footer-menu.row-line.center
						li.footer-menu__item
							a.footer-menu__link(href='/rules') Rules & Regulations
						li.footer-menu__item
							a.footer-menu__link(href='mailto:contactus@claritincontest.com') Contact Us
						li.footer-menu__item
							a.footer-menu__link(href='https://www.claritin.ca/en/privacy-statement/', target='_blank') Privacy Policy
						li.footer-menu__item
							a.footer-menu__link(href='http://bayer.ca/en/general-conditions-of-use/', target='_blank') Terms & Conditions
						li.footer-menu__item
							a.footer-menu__link.tooltip(href='javascript:void(0);', data-tooltip-content='#tooltip_content') Site Owner
							.tooltip_templates
								#tooltip_content
									p Bayer Inc.,
									p Mississauga, ON
									p L5W 5R6
						li.footer-menu__item
							a.footer-menu__link(href='https://www.claritin.ca/', target='_blank') Claritin
					span.footer__text *See official rules for full details.
					span.footer__text **dust, pets, mould
					span.footer__text
						sup †
						| pollen, trees, grass, ragweed
					img.footer__logo(src='img/bayer-icon.png', alt='')
					p.footer__description To be sure this product is right for you, always read and follow the label.
					p.footer__description © 2018, Bayer Inc.
					p.footer__description L.CA.MKT.CC.02.2018.1078 
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
		script(type='text/javascript', src='js/tooltipster.bundle.min.js')
		script(type='text/javascript', src='js/main.js')
