doctype html
html(lang='en')
	head
		title Claritin
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		link(rel='shortcut icon', href='img/favicon.ico')
		link(rel='apple-touch-icon', sizes='180x180', href='img/apple-icon-180x180.png')
		link.del-in-ie10(rel='icon', type='image/png', sizes='192x192', href='img/android-icon-192x192.png')
		link.del-in-ie10(rel='icon', type='image/png', sizes='32x32', href='img/favicon-32x32.png')
		link.del-in-ie10(rel='icon', type='image/png', sizes='16x16', href='img/favicon-16x16.png')
		link(rel='stylesheet', href='css/style.css')
		link(href='css/tooltipster.bundle.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='fonts/fonts.css')
		script(src='https://unpkg.com/axios/dist/axios.min.js')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900', rel='stylesheet')
	body
		script.
			var first_name = localStorage.getItem('first_name');
			var last_name = localStorage.getItem('last_name');
			var email = localStorage.getItem('email');
			var phone = localStorage.getItem('phone');
			var age = localStorage.getItem('age');
			if (email === null && phone === null && first_name === null && last_name === null && age === null){
				document.location = "/fr";
			}
			if (localStorage.getItem('checkButton') === "check") {
				document.location = "/fr";
			}
		.wrapper
			header.header
				.container.row-line.center
					.header__logo
						a(href='/fr')
							img(src='img/logo.png', alt='')
					.burger
						button.hamburger
							i
							i
							i
						button.cross
							i
							i
							i
					.header-menu
						ul.header-menu__list.header-menu__list--fr.row-line.center
							li.header-menu__item.header-menu__item--fr
								a.header-menu__link.header-menu__link--small(href='/fr') ACCUEIL  
							li.header-menu__item.header-menu__item--fr
								a.header-menu__link.header-menu__link--small(href='/#form-block') INSCRIVEZ-VOUS
							li.header-menu__item.header-menu__item--fr
								a.header-menu__link.header-menu__link--small(href='/#prizes') Détails des prix
							li.header-menu__item.header-menu__item--fr
								a.header-menu__link.header-menu__link--small(href='/regles', target='_blank') RéGLEMENT
							li.header-menu__item.header-menu__item--fr
								a.header-menu__link.header-menu__link--small(href='/Quiz') English
			main.page__main.main 
				.container
					.single-test__title
						span
							| Quel type de personne 
							strong d’extérieur êtes-vous?
					.single-test__description
						| Bien que nous aimions tous être à l’extérieur, plusieurs types d’activités s’offrent à nous. Alors, quel type de personne d’extérieur êtes-vous?
						strong
							|  Répondez à notre jeu-questionnaire pour découvrir quel type de personne d’extérieur vous êtes et comment Claritin
							sup ® 
							|  peut vous aider à passer du temps en plein air!
					.single-test__block
						h3 Nous sommes le samedi matin.
						h4.single-test__block--small Quelle activité préférez-vous faire?
						.row-line.start
							.single-test__image
								label.single-test__checkbox(for='pic01', style="background-image: url('img/imageForTest/Q1 - shopping.jpg'); background-size: cover;")
									input#pic01.single-test__hidden(type='radio', name='Q1', value='1')
									span.single-test__label Dénicher la meilleure aubaine
							.single-test__image
								label.single-test__checkbox(for='pic02', style="background-image: url('img/imageForTest/Q1 - watering herbs.jpg'); background-size: cover;")
									input#pic02.single-test__hidden(type='radio', name='Q1', value='2')
									span.single-test__label Arroser mes fines herbes
							.single-test__image
								label.single-test__checkbox(for='pic03', style="background-image: url('img/imageForTest/Q1 - working up a sweat.jpg'); background-size: cover;")
									input#pic03.single-test__hidden(type='radio', name='Q1', value='3')
									span.single-test__label Faire de l’activité physique
							.single-test__image
								label.single-test__checkbox(for='pic04', style="background-image: url('img/imageForTest/Q1 - walking fido.jpg'); background-size: cover;")
									input#pic04.single-test__hidden(type='radio', name='Q1', value='4')
									span.single-test__label Faire une promenade avec Fido
					.single-test__block
						h3 Nous sommes maintenant le lundi avant le travail.
						h4.single-test__block--small Que faites-vous en premier?
						.row-line.start
							.single-test__image
								label.single-test__checkbox(for='pic05', style="background-image: url('img/imageForTest/Q2 - healthy breakfast.jpg'); background-size: cover;")
									input#pic05.single-test__hidden(type='radio', name='Q2', value='1')
									span.single-test__label Je mange un déjeuner nourrissant
							.single-test__image
								label.single-test__checkbox(for='pic06', style="background-image: url('img/imageForTest/Q2 - vitamins.jpg'); background-size: cover;")
									input#pic06.single-test__hidden(type='radio', name='Q2', value='2')
									span.single-test__label Je pense à mes vitamines
							.single-test__image
								label.single-test__checkbox(for='pic07', style="background-image: url('img/imageForTest/Q2 - exercise.jpg'); background-size: cover;")
									input#pic07.single-test__hidden(type='radio', name='Q2', value='3')
									span.single-test__label Je fais de l’exercice!
							.single-test__image
								label.single-test__checkbox(for='pic08', style="background-image: url('img/imageForTest/Q2 - let fido out.jpg'); background-size: cover;")
									input#pic08.single-test__hidden(type='radio', name='Q2', value='4')
									span.single-test__label Je fais sortir Fido
					.single-test__block
						h3 Vous êtes à l’extérieur toute la journée.
						h4.single-test__block--small Quelle est la chose dont vous ne pouvez pas vous passer?
						.row-line.start
							.single-test__image
								label.single-test__checkbox(for='pic09', style="background-image: url('img/imageForTest/Q3 - trusty wallet.jpg'); background-size: cover;")
									input#pic09.single-test__hidden(type='radio', name='Q3', value='1')
									span.single-test__label Mon portefeuille
							.single-test__image
								label.single-test__checkbox(for='pic10', style="background-image: url('img/imageForTest/Q3 - sunscreen.jpg'); background-size: cover;")
									input#pic10.single-test__hidden(type='radio', name='Q3', value='2')
									span.single-test__label Mon écran solaire
							.single-test__image
								label.single-test__checkbox(for='pic11', style="background-image: url('img/imageForTest/Q3 - gym bag.jpg'); background-size: cover;")
									input#pic11.single-test__hidden(type='radio', name='Q3', value='3')
									span.single-test__label Mon sac de sport
							.single-test__image
								label.single-test__checkbox(for='pic12', style="background-image: url('img/imageForTest/Q3 - furry friend.jpg'); background-size: cover;")
									input#pic12.single-test__hidden(type='radio', name='Q3', value='4')
									span.single-test__label Mon compagnon à fourrure
					.single-test__block
						h4.single-test__block--small Choisissez maintenant le patio parfait.
						.row-line.start
							.single-test__image
								label.single-test__checkbox(for='pic13', style="background-image: url('img/imageForTest/Q4 - answer 1.jpg'); background-size: cover;")
									input#pic13.single-test__hidden(type='radio', name='Q4', value='1')
									span.single-test__label 
							.single-test__image
								label.single-test__checkbox(for='pic14', style="background-image: url('img/imageForTest/Q4 - answer 2.jpg'); background-size: cover;")
									input#pic14.single-test__hidden(type='radio', name='Q4', value='2')
									span.single-test__label 
							.single-test__image
								label.single-test__checkbox(for='pic15', style="background-image: url('img/imageForTest/Q4 - answer.jpg'); background-size: cover;")
									input#pic15.single-test__hidden(type='radio', name='Q4', value='3')
									span.single-test__label 
							.single-test__image
								label.single-test__checkbox(for='pic16', style="background-image: url('img/imageForTest/Q4 - answer4.jpg'); background-size: cover;")
									input#pic16.single-test__hidden(type='radio', name='Q4', value='4')
									span.single-test__label 
					.single-test__block
						h4.single-test__block--small Choisissez enfin votre destination vacances idéale.
						.row-line.start
							.single-test__image
								label.single-test__checkbox(for='pic17', style="background-image: url('img/imageForTest/Q5 - big1.jpg'); background-size: cover;")
									input#pic17.single-test__hidden(type='radio', name='Q5', value='1')
									span.single-test__label Un hôtel au cœur d’une grande ville 
							.single-test__image
								label.single-test__checkbox(for='pic18', style="background-image: url('img/imageForTest/Q5 - cabin.jpg'); background-size: cover;")
									input#pic18.single-test__hidden(type='radio', name='Q5', value='2')
									span.single-test__label Un chalet dans un parc national
							.single-test__image
								label.single-test__checkbox(for='pic19', style="background-image: url('img/imageForTest/Q5 - big2.jpg'); background-size: cover;")
									input#pic19.single-test__hidden(type='radio', name='Q5', value='3')
									span.single-test__label Un voyage tout compris pour assister à un grand match
							.single-test__image
								label.single-test__checkbox(for='pic20', style="background-image: url('img/imageForTest/Q5 - camping4.jpg'); background-size: cover;")
									input#pic20.single-test__hidden(type='radio', name='Q5', value='4')
									span.single-test__label Une aventure de camping avec mon chien
					.single-test__block
						input#btnClick.home-form__submit(type='button', value='Soumettre')
			footer.footer
				.container
					ul.footer-menu.row-line.center
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small(href='/regles', target='_blank') Réglement
						li.footer-menu__item.footer-menu__item
							a.footer-menu__link.footer-menu__link--small(href='mailto:contacteznous@concoursclaritin.com') Communiquez avec nous
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small(target='_blank', href='https://www.claritin.ca/fr/privacy-statement/') Politique de confidentialité
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small(target='_blank', href='http://bayer.ca/fr/general-conditions-of-use/') Modalités et conditions
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small.tooltip(href='javascript:void(0);', data-tooltip-content='#tooltip_content') Propriétaire du site
							.tooltip_templates
								#tooltip_content
									p Bayer Inc.,
									p Mississauga, ON
									p L5W 5R6
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small(target='_blank', href='https://www.claritin.ca/fr/home/') Claritin
					span.footer__text *Consultez le réglement officiel pour tous les détails.
					img.footer__logo(src='img/bayer-icon.png', alt='')
					p.footer__description Pour vous assurer que ce produit vous convient, lisez et suivez toujours les instructions sur l’étiquette.
					p.footer__description ©2018, Bayer Inc.
					p.footer__description L.CA.MKT.CC.02.2018.1078
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
		script(type='text/javascript', src='js/tooltipster.bundle.min.js')
		script(type='text/javascript', src='js/main.js')
		script(type='text/javascript', src='js/checkResultTestFr.js')
			
