doctype html
html(lang='en')
	head
		title Claritin
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		link(rel='stylesheet', href='fonts/fonts.css')
		link(href='css/style.css', rel='stylesheet', type='text/css')
		link(href='css/tooltipster.bundle.css', rel='stylesheet', type='text/css')
		script(src='https://unpkg.com/axios/dist/axios.min.js')
		script(src='https://www.google.com/recaptcha/api.js')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900', rel='stylesheet')
	body
		.wrapper
			header.header
				.container.row-line.center
					.header__logo
						a(href='/en')
							img(src='img/logo.png', alt='')
					.burger
						button.hamburger
							i
							i
							i
						button.cross
							i
							i
							i
					.header-menu
						ul.header-menu__list
							li.header-menu__item
								a.header-menu__link(href='/en') HOME
							li.header-menu__item
								a.header-menu__link(href='#form-block') ENTER
							li.header-menu__item
								a.header-menu__link(href='#prizes') PRIZES
							li.header-menu__item
								a.header-menu__link(href='/rules', target='_blank') RULES
							li.header-menu__item
								a.header-menu__link(href='/fr') Français
			main.page__main.main
				.container
					.home-slider__top
						.home-slider__item
							img.home-slider__image.home-slider__image--large.home-slider__image--hidden-mobile(src='img/banner.png', alt='houdini')
							img.home-slider__image.home-slider__image--visible-mobile(src='img/banner-mob.png', alt='houdini')
							.home-slider__content.home-slider__content--large
								img.home-slider__slogan.home-slider__slogan--hidden-mobile(src='img/title-desk.png', alt='')
								img.home-slider__slogan.home-slider__slogan--visible-mobile(src='img/title-mob.png', alt='')
								.row-line
									.column
										h3.home-slider__title.home-slider__title--large
											| For your chance to 
											strong WIN
											| * 1 of 3 $1,000 Shoppers Drug Mart gift cards!
										p.home-slider__text.home-slider__text--large
											| Allergies keeping you indoors? One non-drowsy Claritin
											sup ®
											|  pill provides 24-hour relief from indoor** and outdoor
											sup †
											|  allergy symptoms. Take the Claritin
											sup ®
											|  Outsider Quiz to find out what kind of outsider you are.
										a.btn-home-slider(href='#form-block') ENTER
							.home-slider__txt
								span **dust, pets, mould
								span
									sup †
									| pollen, trees, grass, ragweed
					#form-block.home-form
						.home-form__title
							h3
								span
									| ENTER TO 
									strong WIN
						form#form2(name='myForm', action='http://13.59.224.151/api/fileupload/list', method='POST', enctype='multipart/form-data')
							.row-line
								.column
									#username_div
										input#first_name.form-control(type='text', name='first_name', tabindex="1", placeholder='First Name*')
										#name_error
								.column
									#lastname_div
										input#last_name.form-control(type='text', name='last_name', tabindex="2", placeholder='Last Name*')
										#lastname_error
								.full-width
									#email_div
										input#Email.form-control(placeholder='Email Address*', tabindex="3", name='Email', type='email', title='Email Address (format: xxx@xxx.xxx)', pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*")
										#email_error
								.column
									#phone_div
										input#phone.form-control(type='text', name='phone', tabindex="4", placeholder='Phone Number*')
										#phone_error
								.column
									#age_div
										input#age.form-control(type='text', name='age', tabindex="5", maxlength='2', placeholder='Age*')
										#age_error
							#recaptcha.g-recaptcha(data-sitekey="6LcNY1AUAAAAACxtw9iWOIX_jrvuxzGc2_Y3m8NK")
							.item
								label.checkbox(for='Accept', tabindex="6")
									#checkbox_div
										input#Accept.checkbox__hidden(type='checkbox' , name='subscribe', value='newsletter')
										span.checkbox__label I accept the official rules and regulations
										#checkbox_error
							.item
								label.checkbox(for='Yes', tabindex="7")
									input#Yes.checkbox__hidden(type='checkbox', name='subscribe', value='newsletter')
									span.checkbox__label
										| Yes, I would like to receive email communications about products and offerings from Bayer, Inc. and its affiliates. I understand I can unsubscribe at any time.
							.item
								p.home-form__fields *Fields are mandatory
							.item
								input.home-form__submit(type='button', value='SUBMIT', tabindex="8", id='btn-validate', onclick='Validate()')
							p#demo(style='color: red;')
					.home-slider-banner
						.home-slider-banner__item
							.row-line.center
								.column
									img(src='img/img-slider.png', alt='')
								.column
									.home-slider-banner__text
										h4.home-slider-banner__title
											span
												| CLARITIN
												sup ®
												|  ALLERGY
										p.home-slider-banner__top Effective, Non-Drowsy 24-hour relief
										p.home-slider-banner__title-list
											strong 24-hour Symptom Relief
										ul.home-slider-banner__list
											li Itchy, watery eyes
											li Sneezing
											li Runny nose
											li Skin itch, hives
							.row-line
								p.home-slider-banner__description
									| To be sure that this product is suitable for you, always read and follow the label
					#prizes.home-slider-prize
						.home-slider-prize__item
							.row-line.center
								.column
									img(src='img/img-prize.png', alt='')
								.column
									h3.title 3 GRAND PRIZES										
									p.home-slider-prize__description Each prize will include
									p.home-slider-prize__description
										strong $1,000 CDN in
									p.home-slider-prize__description
										strong
											span Shoppers Drug Mart
											|  gift cards
							.home-slider-prize__text
								p Use of retailer gift card is subject to the terms and
								p conditions set by the issuer of the gift card
			footer.footer
				.container
					ul.footer-menu.row-line.center
						li.footer-menu__item
							a.footer-menu__link(href='/rules', target='_blank') Rules & Regulations
						li.footer-menu__item
							a.footer-menu__link(href='mailto:contactus@claritincontest.com') Contact Us
						li.footer-menu__item
							a.footer-menu__link(target='_blank', href='https://www.claritin.ca/en/privacy-statement/') Privacy Policy
						li.footer-menu__item
							a.footer-menu__link(target='_blank', href='http://bayer.ca/en/general-conditions-of-use/') Terms & Conditions
						li.footer-menu__item
							a.footer-menu__link.tooltip(href='javascript:void(0);', data-tooltip-content='#tooltip_content') Site Owner
							.tooltip_templates
								#tooltip_content
									p Bayer Inc.,
									p Mississauga, ON
									p L5W 5R6
						li.footer-menu__item
							a.footer-menu__link(target='_blank', href='https://www.claritin.ca/') Claritin
					span.footer__text *See official rules for full details.
					img.footer__logo(src='img/bayer-icon.png', alt='')
					p.footer__description To be sure this product is right for you, always read and follow the label.
					p.footer__description © 2018, Bayer Inc.
					p.footer__description L.CA.MKT.CC.02.2018.1078 
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
		script(type='text/javascript', src='js/tooltipster.bundle.min.js')
		script(type='text/javascript', src='js/main.js')
		script(src='js/mainPage.js')
		script.
			var phone = document.forms['myForm']['phone'];
			var phone_error = document.getElementById('phone_error');
			document.getElementById("age").onkeypress = function (event) {
				event = event || window.event;
				if (event.charCode && (event.charCode < 48 || event.charCode > 57))
					return false;
			};

			var i;
			var arr = [204, 226, 236, 249, 250, 289, 306, 343, 365, 403, 416, 418, 431, 437, 438, 450, 506, 514, 519, 548, 579, 581, 587, 604, 613, 639, 647, 705, 709, 778, 780, 782, 807, 819, 825, 867, 873, 902, 905];
			document.getElementById('phone').addEventListener('input', function (e) {
				var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
				e.target.value = !x[2] ? x[1] : x[1] + x[2] + (x[3] ? x[3] : '');
				for (i = 0; i < arr.length; i++) {
					if (x[1] != arr[i]) {
						phone.style.border = "1px solid red";
						document.getElementById('phone_div').style.color = "yellow";
						phone_error.textContent = "Invalid Phone number.";
					} else {
						phone.style.border = "1px solid green";
						i = arr[i];
						phone_error.textContent = "";
					}
				}
			});

			var Accept = document.getElementById('Accept');
			var Yes = document.getElementById('Yes');
			$(document).on('keypress', function (event) {
				if ((event.keyCode === 13 || event.keyCode === 32)) {
					if (!Accept.checked && document.activeElement.tabIndex === 6) {
						$("input[id=Accept]").prop({checked: true})
						return false;
					}
					if (!Yes.checked && document.activeElement.tabIndex === 7) {
						$("input[id=Yes]").prop({checked: true})
						return false;
					}
					return false;
				}
			});
            
        
