doctype html
html(lang='en')
	head
		title Claritin
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		link(rel='stylesheet', href='fonts/fonts.css')
		link(href='css/style.css', rel='stylesheet', type='text/css')
		link(href='css/tooltipster.bundle.css', rel='stylesheet', type='text/css')
		script(src='https://unpkg.com/axios/dist/axios.min.js')
		script(src='js/mainPageFr.js')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900', rel='stylesheet')
	body
		.wrapper
			header.header
				.container.row-line.center
					.header__logo
						a(href='/fr')
							img(src='img/logo.png', alt='')
					.burger
						button.hamburger
							i
							i
							i
						button.cross
							i
							i
							i
					.header-menu
						ul.header-menu__list
							li.header-menu__item
								a.header-menu__link.header-menu__link--small(href='/') ACCUEIL  
							li.header-menu__item
								a.header-menu__link.header-menu__link--small(href='#form-block') INSCRIVEZ-VOUS
							li.header-menu__item
								a.header-menu__link.header-menu__link--small(href='#prizes') Détails des prix
							li.header-menu__item
								a.header-menu__link.header-menu__link--small(href='/regles') RéGLEMENT
							li.header-menu__item
								a.header-menu__link.header-menu__link--small(href='/') English
			main.page__main.main
				.container
					.home-slider__top
						.home-slider__item
							img.home-slider__image.home-slider__image--hidden-mobile(src='img/banner.png', alt='houdini')
							img.home-slider__image.home-slider__image--visible-mobile(src='img/banner-mob.png', alt='houdini')
							.home-slider__content
								img.home-slider__slogan.home-slider__slogan--hidden-mobile(src='img/title-desk-fr.png', alt='')
								img.home-slider__slogan.home-slider__slogan--visible-mobile(src='img/title-mob-fr.png', alt='')
								.row-line
									.column
										h3.home-slider__title
											| sur les activités extrérieures 
											strong GAGNER
											| * 1 des 3 cartes-cadeaux de 1000 $ de Shoppers Drug Mart gift cards!
										p.home-slider__text
											| Les allergies vous empêchent de sortir? Un comprimé Claritin
											sup ®
											| somnolence soulage les symptômes d’allergies extérieures et intérieures pendant 24 heures. Répondez au jeu-questionnaire de Claritin
											sup ®
											|  sur les activités extérieures pour découvrir quel type de personne d’extérieur vous êtes et passer plus de temps dehors!
										a.btn-home-slider(href='#form-block') Inscrivez-vous
							.home-slider__txt
								span **poussière, animaux et moisissures
								span
									sup †
									| pollen, arbres, herbes, herbe à poux
					#form-block.home-form
						.home-form__title
							h3
								span
									| INSCRIVEZ-VOUS POUR 
									strong GAGNER
						form#form2(name='myForm', action='http://13.59.224.151/api/fileupload/list', method='POST', enctype='multipart/form-data')
							.row-line
								.column
									#username_div
										input#first_name.form-control(type='text', name='first_name', placeholder='Prénom*')
										#name_error
								.column
									#lastname_div
										input#last_name.form-control(type='text', name='last_name', placeholder='Nom de famille*')
										#lastname_error
								.full-width
									#email_div
										input#Email.form-control(placeholder='Adresse e-mail*', name='Email', type='email', title='Email Address (format: xxx@xxx.xxx)', pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*")
										#email_error
								.column
									#phone_div
										input#phone.form-control(type='text', name='phone', placeholder='Numéro de téléphone*')
										#phone_error
								.column
									#age_div
										input#age.form-control(type='text', name='age', maxlength='2', placeholder='Âge*')
										#age_error
							.item
								label.checkbox(for='Accept')
									#checkbox_div
										input#Accept.checkbox__hidden(type='checkbox', name='subscribe', value='newsletter')
										span.checkbox__label J’accepte le règlement officiel.
										#checkbox_error
							.item
								label.checkbox(for='Yes')
									input#Yes.checkbox__hidden(type='checkbox', name='subscribe', value='newsletter')
									span.checkbox__label
										| Oui, j’aimerais recevoir des courriels au sujet des produits et des offres de Bayer, Inc. et de ses sociétés affiliées. Je comprends que je peux me désabonner en tout temps.
							.item
								p.home-form__fields *Champs obligatoires.
							.item
								input.home-form__submit(type='button', value='Soumettre', id='btn-validate', onclick='Validate()')
							p#demo(style='color: red;')
					#prizes.home-slider-banner
						.home-slider-banner__item
							img.home-slider-banner__image.home-slider-banner__image--hidden-mobile(src='img/home-slider-banner__image-fr.png', alt='')
							img.home-slider-banner__image.home-slider-banner__image--visible-mobile(src='img/home-slider-banner__image-mob-fr.png', alt='')
					.home-slider-banner
						.home-slider-banner__item
							img.home-slider-banner__image.home-slider-banner__image--hidden-mobile(src='img/home-slider-banner__image_1_fr.png', alt='')
							img.home-slider-banner__image.home-slider-banner__image--visible-mobile(src='img/home-slider-banner__image-mob_1_fr.png', alt='')
			footer.footer
				.container
					ul.footer-menu.row-line.center
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small(href='/regles') Réglement
						li.footer-menu__item.footer-menu__item
							a.footer-menu__link.footer-menu__link--small(href='mailto:contacteznous@concoursclaritin.com') Communiquez avec nous
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small(target='_blank', href='https://www.claritin.ca/en/privacy-statement/') Politique de confidentialité
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small(target='_blank', href='http://bayer.ca/en/general-conditions-of-use/') Modalités et conditions
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small.tooltip(href='javascript:void(0);', data-tooltip-content='#tooltip_content') Propriéetaire du site
							.tooltip_templates
								#tooltip_content
									p Bayer Inc.,
									p Mississauga, ON
									p L5W 5R6
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small(target='_blank', href='https://www.claritin.ca/') Claritin
					span.footer__text *Consultez le réglement officiel pour tous les détails.
					img.footer__logo(src='img/bayer-icon.png', alt='')
					p.footer__description Pour vous assurer que ce produit vous convient, lisez et suivez toujours les instructions sur l’étiquette.
					p.footer__description ©2018 Bayer Inc.
					p.footer__description L.CA.MKT.CC.02.2018.1078
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
		script(type='text/javascript', src='js/tooltipster.bundle.min.js')
		script(type='text/javascript', src='js/main.js')
		script.
			document.getElementById("age").onkeypress = function (event) {
				event = event || window.event;
				if (event.charCode && (event.charCode < 48 || event.charCode > 57))
					return false;
			};

			var i;
			var arr = [204, 226, 236, 249, 250, 289, 306, 343, 365, 403, 416, 418, 431, 437, 438, 450, 506, 514, 519, 548, 579, 581, 587, 604, 613, 639, 647, 705, 709, 778, 780, 782, 807, 819, 825, 867, 873, 902, 905];
			document.getElementById('phone').addEventListener('input', function (e) {
				var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
				e.target.value = !x[2] ? x[1] : x[1] + x[2] + (x[3] ? x[3] : '');
				for (i = 0; i < arr.length; i++) {
					if (x[1] != arr[i]) {
						phone.style.border = "1px solid red";
						document.getElementById('phone_div').style.color = "yellow";
						phone_error.textContent = "Invalid Phone number.";
					} else {
						phone.style.border = "1px solid green";
						i = arr[i];
						phone_error.textContent = "";
					}
				}
			});
