doctype html
html(lang='fr')
	head
		title Claritin
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		link(rel='shortcut icon', href='img/favicon.ico')
		link(rel='apple-touch-icon', sizes='180x180', href='img/apple-icon-180x180.png')
		link.del-in-ie10(rel='icon', type='image/png', sizes='192x192', href='img/android-icon-192x192.png')
		link.del-in-ie10(rel='icon', type='image/png', sizes='32x32', href='img/favicon-32x32.png')
		link.del-in-ie10(rel='icon', type='image/png', sizes='16x16', href='img/favicon-16x16.png')
		link(rel='stylesheet', href='fonts/fonts.css')
		link(href='css/style.css', rel='stylesheet', type='text/css')
		link(href='css/tooltipster.bundle.css', rel='stylesheet', type='text/css')
		script(src='https://unpkg.com/axios/dist/axios.min.js')
		script(src='https://www.google.com/recaptcha/api.js')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900', rel='stylesheet')
	body
		.wrapper
			header.header
				.container.row-line.center
					.header__logo
						a(href='/fr')
							img(src='img/logo.png', alt='')
					.burger
						button.hamburger
							i
							i
							i
						button.cross
							i
							i
							i
					.header-menu
						ul.header-menu__list.header-menu__list--fr
							li.header-menu__item.header-menu__item--fr
								a.header-menu__link.header-menu__link--small(href='/fr') ACCUEIL  
							li.header-menu__item.header-menu__item--fr
								a.header-menu__link.header-menu__link--small(href='#form-block') INSCRIVEZ-VOUS
							li.header-menu__item.header-menu__item--fr
								a.header-menu__link.header-menu__link--small(href='#prizes') Détails des prix
							li.header-menu__item.header-menu__item--fr
								a.header-menu__link.header-menu__link--small(href='/regles', target='_blank') RéGLEMENT
							li.header-menu__item.header-menu__item--fr
								a.header-menu__link.header-menu__link--small(href='/en') English
			main.page__main.main
				.container
					.home-slider__top
						.home-slider__item
							img.home-slider__image.home-slider__image--hidden-mobile(src='img/banner.png', alt='houdini')
							img.home-slider__image.home-slider__image--visible-mobile(src='img/banner-mob.png', alt='houdini')
							.home-slider__content
								img.home-slider__slogan.home-slider__slogan--hidden-mobile(src='img/title-desk-fr.png', alt='')
								img.home-slider__slogan.home-slider__slogan--visible-mobile(src='img/title-mob-fr.png', alt='')
								.row-line
									.column
										h3.home-slider__title
											| sur les activités extrérieures 
											strong GAGNER
											| * 1 des 3 cartes-cadeaux de 1000 $ de Shoppers Drug Mart gift cards!
										p.home-slider__text
											| Les allergies vous empêchent de sortir? Un comprimé Claritin
											sup ®
											| somnolence soulage les symptômes d’allergies extérieures et intérieures pendant 24 heures. Répondez au jeu-questionnaire de Claritin
											sup ®
											|  sur les activités extérieures pour découvrir quel type de personne d’extérieur vous êtes et passer plus de temps dehors!
										a.btn-home-slider(href='#form-block') Inscrivez-vous
							.home-slider__txt
								span **poussière, animaux et moisissures
								span
									sup †
									| pollen, arbres, herbes, herbe à poux
					#form-block.home-form
						.home-form__title
							h3
								span
									| INSCRIVEZ-VOUS POUR 
									strong GAGNER
						form#form2(name='myForm', action='http://13.59.224.151/api/fileupload/list', method='POST', enctype='multipart/form-data')
							.row-line
								.column
									#username_div
										input#first_name.form-control(type='email', name='first_name', tabindex="1", placeholder='Prénom*')
										#name_error
								.column
									#lastname_div
										input#last_name.form-control(type='email', name='last_name', tabindex="2", placeholder='Nom de famille*')
										#lastname_error
								.full-width
									#email_div
										input#Email.form-control(placeholder='Adresse e-mail*', tabindex="3", name='Email', type='email', title='Email Address (format: xxx@xxx.xxx)', pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*")
										#email_error
								.column
									#phone_div
										input#phone.form-control(type='phone', name='phone', tabindex="4", placeholder='Numéro de téléphone*')
										#phone_error
								.column
									#age_div
										input#age.form-control(type='text', name='age', tabindex="5", maxlength='2', placeholder='Âge*')
										#age_error
							#recaptcha.g-recaptcha(data-sitekey='6LdpvDEUAAAAAMy8x0y8PS99j4BavfO2oBdVTQGZ')
							.item
								label.checkbox(for='Accept', tabindex="6")
									#checkbox_div
										input#Accept.checkbox__hidden(type='checkbox', name='subscribe', value='newsletter')
										span.checkbox__label J’accepte le règlement officiel.
										#checkbox_error
							.item
								label.checkbox(for='Yes', tabindex="7")
									input#Yes.checkbox__hidden(type='checkbox', name='subscribe', value='newsletter')
									span.checkbox__label
										| Oui, j’aimerais recevoir des courriels au sujet des produits et des offres de Bayer, Inc. et de ses sociétés affiliées. Je comprends que je peux me désabonner en tout temps.
							.item
								p.home-form__fields *Champs obligatoires.
							.item
								input.home-form__submit(type='button', value='Soumettre', tabindex="8", id='btn-validate', onclick='Validate()')
							p#demo(style='color: red;')
					.home-slider-banner
						.home-slider-banner__item
							.row-line.center
								.column
									img(src='img/img-slider-fr.png', alt='')
								.column
									.home-slider-banner__text
										h4.home-slider-banner__title
											span
												| CLARITIN
												sup ®
												|  Allergies
										p.home-slider-banner__top Soulagement efficace et sans somnolence pendant 24 heures.
										p.home-slider-banner__title-list
											strong Soulagement des symptômes pendant 24 heures
										ul.home-slider-banner__list
											li Picotement des yeux et larmoiement
											li Éternuements
											li Écoulement nasal
											li Démangeaison cutanée et urticaire
							.row-line
								p.home-slider-banner__description
									| Pour vous assurer que ce produit vous convient, lisez et suivez toujours les instructions sur l’étiquette.
					#prizes.home-slider-prize
						.home-slider-prize__item
							.row-line.center
								.column
									img(src='img/img-prize-fr.png', alt='')
								.column
									h3.title 3 GRANDS PRIX
									p.home-slider-prize__description Chaque prix consistera en
									p.home-slider-prize__description
										strong 1 000 $ CAN remis sous
									p.home-slider-prize__description
										strong forme d’une carte-cadeau
									p.home-slider-prize__description
										strong
											span Shoppers Drug Mart/Pharmaprix.
							.home-slider-prize__text
								p L’utilisation de la carte-cadeau du détaillant est assujettie
								p aux modalités et conditions établies par l’émetteur de la carte-cadeau
			footer.footer
				.container
					ul.footer-menu
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small(href='/regles', target='_blank') Réglement
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small(href='mailto:contacteznous@concoursclaritin.com') Communiquez avec nous
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small(target='_blank', href='https://www.claritin.ca/fr/privacy-statement/') Politique de confidentialité
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small(target='_blank', href='http://bayer.ca/fr/general-conditions-of-use/') Modalités et conditions
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small.tooltip(href='javascript:void(0);', data-tooltip-content='#tooltip_content') Propriétaire du site
							.tooltip_templates
								#tooltip_content
									p Bayer Inc.,
									p Mississauga, ON
									p L5W 5R6
						li.footer-menu__item.footer-menu__item--padding
							a.footer-menu__link.footer-menu__link--small(target='_blank', href='https://www.claritin.ca/fr/home/') Claritin
					span.footer__text *Consultez le réglement officiel pour tous les détails.
					img.footer__logo(src='img/bayer-icon.png', alt='')
					p.footer__description Pour vous assurer que ce produit vous convient, lisez et suivez toujours les instructions sur l’étiquette.
					p.footer__description © 2018, Bayer Inc.
					p.footer__description L.CA.MKT.CC.02.2018.1078
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
		script(type='text/javascript', src='js/tooltipster.bundle.min.js')
		script(type='text/javascript', src='js/main.js')
		script(src='js/mainPageFr.js')
		script.
			var phone = document.forms['myForm']['phone'];
			var phone_error = document.getElementById('phone_error');
			document.getElementById("age").onkeypress = function (event) {
				event = event || window.event;
				if (event.charCode && (event.charCode < 48 || event.charCode > 57))
					return false;
			};

			var i;
			var arr = [204, 226, 236, 249, 250, 289, 306, 343, 365, 403, 416, 418, 431, 437, 438, 450, 506, 514, 519, 548, 579, 581, 587, 604, 613, 639, 647, 705, 709, 778, 780, 782, 807, 819, 825, 867, 873, 902, 905];
			document.getElementById('phone').addEventListener('input', function (e) {
				var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
				e.target.value = !x[2] ? x[1] : x[1] + x[2] + (x[3] ? x[3] : '');
				for (i = 0; i < arr.length; i++) {
					if (x[1] != arr[i]) {
						phone.style.border = "1px solid red";
						document.getElementById('phone_div').style.color = "yellow";
						phone_error.textContent = "Numéro de téléphone non valide.";
					} else {
						phone.style.border = "1px solid green";
						i = arr[i];
						phone_error.textContent = "";
					}
				}
			});
			var Accept = document.getElementById('Accept');
			var Yes = document.getElementById('Yes');
			$(document).on('keypress', function (event) {
				if ((event.keyCode === 13 || event.keyCode === 32)) { 
					if (!Accept.checked && document.activeElement.tabIndex === 6) {
						$("input[id=Accept]").prop({checked: true})
						return false;
					}
					if (!Yes.checked && document.activeElement.tabIndex === 7) {
						$("input[id=Yes]").prop({checked: true})
						return false;
					}
					return false;
				}
			});
