doctype html
html(lang='en')
	head
		title Claritin
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		script(src='https://unpkg.com/axios/dist/axios.min.js')
	body
		script.
			var xhr = new XMLHttpRequest();
			xhr.open('get', 'http://13.59.224.151/api/fileupload/get');
			xhr.onload = function (e) {
				document.location = "" + JSON.parse(this.response).collection + "";
			};
			xhr.send()
			// var xhr = new XMLHttpRequest();
			// xhr.open('get', 'http://13.59.224.151/api/fileupload/get');
			// xhr.onload = function (e) {
			// 	if (location.host == "concoursclaritin.com" && JSON.parse(this.response).collection == "en") {
			// 		document.location = "fr";
			// 	} else if (location.host == "concoursclaritin.com" && JSON.parse(this.response).collection == "coming") {
			// 		document.location = "venir";
			// 	} else if (location.host == "concoursclaritin.com" && JSON.parse(this.response).collection == "close") {
			// 		document.location = "fin";
			// 	} else {
			// 		document.location = "" + JSON.parse(this.response).collection + "";
			// 	}
			// };
			// xhr.send()
