doctype html
html(lang='en')
	head
		title Claritin
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='fonts/fonts.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900', rel='stylesheet')
	body
		.wrapper
			header.header
				.container.row-line.center
					.header__logo
						a(href='#')
							img(src='img/logo.png', alt='')
					.burger
						button.hamburger
							i
							i
							i
						button.cross
							i
							i
							i
					.header-menu
						ul.header-menu__list
							li.header-menu__item
								a.header-menu__link(href='#') HOME
							li.header-menu__item
								a.header-menu__link(href='#') ENTER
							li.header-menu__item
								a.header-menu__link(href='#') PRIZES
							li.header-menu__item
								a.header-menu__link(href='#') RULES
							li.header-menu__item
								a.header-menu__link(href='#') FRANCAIS
			main.page__main.main
				.container
					.single-test__title
						span
							| What kind of 
							strong OUTSIDER ARE YOU?
					.single-test__description
						| While everyone enjoys being outside, there are many different types of outdoor activities to choose from. So, which type of “outsider” are you? 
						strong
							| Take our quiz to see just what kind of outsider you are, and how Claritin® can help you get out there!
					.single-test__block
						h4 It’s Saturday morning. Where would you rather be?
						.row-line.start
							.single-test__image
								label.single-test__checkbox(for='pic01', style="background-image: url('img/imageForTest/Q1 - shopping.jpg'); background-size: cover;")
									input#pic01.single-test__hidden(type='radio', name='Q1', value='1')
									span.single-test__label Finding the next best deal
							.single-test__image
								label.single-test__checkbox(for='pic02', style="background-image: url('img/imageForTest/Q1 - walking fido.jpg'); background-size: cover;")
									input#pic02.single-test__hidden(type='radio', name='Q1', value='2')
									span.single-test__label Watering my herbs
							.single-test__image
								label.single-test__checkbox(for='pic03', style="background-image: url('img/imageForTest/Q1 - watering herbs.jpg'); background-size: cover;")
									input#pic03.single-test__hidden(type='radio', name='Q1', value='3')
									span.single-test__label Working up a sweat
							.single-test__image
								label.single-test__checkbox(for='pic04', style="background-image: url('img/imageForTest/Q1 - working up a sweat.jpg'); background-size: cover;")
									input#pic04.single-test__hidden(type='radio', name='Q1', value='4')
									span.single-test__label Taking Fido for a stroll
					.single-test__block
						h4 Now it’s Monday before work. What’s the first thing you do?
						.row-line.start
							.single-test__image
								label.single-test__checkbox(for='pic05', style="background-image: url('img/imageForTest/Q2 - healthy breakfast.jpg'); background-size: cover;")
									input#pic05.single-test__hidden(type='radio', name='Q2', value='1')
									span.single-test__label Eat a Hearty Breakfast
							.single-test__image
								label.single-test__checkbox(for='pic06', style="background-image: url('img/imageForTest/Q2 - let fido out.jpg'); background-size: cover;")
									input#pic06.single-test__hidden(type='radio', name='Q2', value='2')
									span.single-test__label Remember my Vitamins
							.single-test__image
								label.single-test__checkbox(for='pic07', style="background-image: url('img/imageForTest/Q2 - vitamins.jpg'); background-size: cover;")
									input#pic07.single-test__hidden(type='radio', name='Q2', value='3')
									span.single-test__label Exercise!
							.single-test__image
								label.single-test__checkbox(for='pic08', style="background-image: url('img/imageForTest/Q2 - exercise.jpg'); background-size: cover;")
									input#pic08.single-test__hidden(type='radio', name='Q2', value='4')
									span.single-test__label Let Fido Outside
					.single-test__block
						h4 You’re going outside all day. What’s one thing you can’t leave home without?
						.row-line.start
							.single-test__image
								label.single-test__checkbox(for='pic09', style="background-image: url('img/imageForTest/Q3 - furry friend.jpg'); background-size: cover;")
									input#pic09.single-test__hidden(type='radio', name='Q3', value='1')
									span.single-test__label My Trusty Wallet
							.single-test__image
								label.single-test__checkbox(for='pic10', style="background-image: url('img/imageForTest/Q3 - gym bag.jpg'); background-size: cover;")
									input#pic10.single-test__hidden(type='radio', name='Q3', value='2')
									span.single-test__label My Sunscreen
							.single-test__image
								label.single-test__checkbox(for='pic11', style="background-image: url('img/imageForTest/Q3 - sunscreen.jpg'); background-size: cover;")
									input#pic11.single-test__hidden(type='radio', name='Q3', value='3')
									span.single-test__label My Gym Bag
							.single-test__image
								label.single-test__checkbox(for='pic12', style="background-image: url('img/imageForTest/Q3 - trusty wallet.jpg'); background-size: cover;")
									input#pic12.single-test__hidden(type='radio', name='Q3', value='4')
									span.single-test__label My Furry Friend
					.single-test__block
						h4 Now pick your perfect patio.
						.row-line.start
							.single-test__image
								label.single-test__checkbox(for='pic13', style="background-image: url('img/imageForTest/Q4 - answer 1.jpg'); background-size: cover;")
									input#pic13.single-test__hidden(type='radio', name='Q4', value='1')
									span.single-test__label Finding the next best deal
							.single-test__image
								label.single-test__checkbox(for='pic14', style="background-image: url('img/imageForTest/Q4 - answer 2.jpg'); background-size: cover;")
									input#pic14.single-test__hidden(type='radio', name='Q4', value='2')
									span.single-test__label Watering my herbs
							.single-test__image
								label.single-test__checkbox(for='pic15', style="background-image: url('img/imageForTest/Q4 - answer.jpg'); background-size: cover;")
									input#pic15.single-test__hidden(type='radio', name='Q4', value='3')
									span.single-test__label Working up a sweat
							.single-test__image
								label.single-test__checkbox(for='pic16', style="background-image: url('img/imageForTest/Q4 - answer4.jpg'); background-size: cover;")
									input#pic16.single-test__hidden(type='radio', name='Q4', value='4')
									span.single-test__label Taking Fido for a stroll
					.single-test__block
						h4 Finally, choose your ideal vacation destination.
						.row-line.start
							.single-test__image
								label.single-test__checkbox(for='pic17', style="background-image: url('img/imageForTest/Q5 - big1.jpg'); background-size: cover;")
									input#pic17.single-test__hidden(type='radio', name='Q5', value='1')
									span.single-test__label A Hotel in the Heart of the Big City
							.single-test__image
								label.single-test__checkbox(for='pic18', style="background-image: url('img/imageForTest/Q5 - big2.jpg'); background-size: cover;")
									input#pic18.single-test__hidden(type='radio', name='Q5', value='2')
									span.single-test__label A Cabin in a National Park
							.single-test__image
								label.single-test__checkbox(for='pic19', style="background-image: url('img/imageForTest/Q5 - cabin.jpg'); background-size: cover;")
									input#pic19.single-test__hidden(type='radio', name='Q5', value='3')
									span.single-test__label An All-Inclusive Trip to the Big Game
							.single-test__image
								label.single-test__checkbox(for='pic20', style="background-image: url('img/imageForTest/Q5 - camping4.jpg'); background-size: cover;")
									input#pic20.single-test__hidden(type='radio', name='Q5', value='4')
									span.single-test__label A Camping Adventure with my Pup
					.single-test__block
						input#btnClick.home-form__submit(type='button', value='SUBMIT')
			footer.footer
				.container
					ul.footer-menu.row-line.center
						li
							a.footer-menu__link(href='#') Rules & Regulations
						li
							a.footer-menu__link(href='#') Contact Us
						li
							a.footer-menu__link(href='https://www.claritin.ca/en/privacy-statement/') Privacy Policy
						li
							a.footer-menu__link(href='http://bayer.ca/en/general-conditions-of-use/') Terms & Conditions
						li
							a.footer-menu__link(href='#') Site Owner
						li
							a.footer-menu__link(href='https://www.claritin.ca/') Claritin
					img.footer__logo(src='img/bayer-icon.png', alt='')
					p.footer__description To be sure this product is right for you, always read and follow the label.
					p.footer__description ©2018 Bayer Inc.
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
		script(type='text/javascript', src='js/main.js')
		script.
			
			$(function(){
				$('#btnClick').click(function(){
					var val = [];
					var answ1 = 0,answ2 = 0,answ3 = 0,answ4 = 0,answ5 = 0;
					$(':radio:checked').each(function(i){
						val[i] = $(this).val();
						answ1 = val[0];
						answ2 = val[1];
						answ3 = val[2];
						answ4 = val[3];
						answ5 = val[4];
					});
					var arr = [answ1, answ2, answ3, answ4, answ5];
					var ks=[];
					for(var value of arr){
						ks[value] = (ks[value]||0)+1;
					}
					var arr2 =[];
					var arr3 =[];
					for(var i in arr) {
						if (  ks[ arr[i] ] > 2 ){
							arr3.push(arr[i]);
							ks[ arr[i] ] = 0;
							break;
						}else if ( ks[ arr[i] ] > 1 && ks[ arr[i] ] != 3 ){
							arr2.push(arr[i]);
							ks[ arr[i] ] = 0;
						}
					}
					if(arr2.length > 1 && arr3.length == 0){
						for (var i = 0; i < arr2.length; i++) {
							if(arr2[i] < arr2[0]){
								arr2[0] = arr2[i];
							}
						}
						if(arr2[0] == 1){
							localStorage.setItem("lastname", "OPEN-AIR SHOPPER");
						}else if(arr2[0] == 2){
							localStorage.setItem("lastname", "THE GARDENER");
						} else if (arr2[0] == 3) {
							localStorage.setItem("lastname", "TEAM PLAYER");
						} else if (arr2[0] == 4) {
							localStorage.setItem("lastname", "CANINE WALKER");
						}
					}else {
						if (arr3.length > 0) {
							if (arr3[0] == 1) {
								localStorage.setItem("lastname", "OPEN-AIR SHOPPER");
							} else if (arr3[0] == 2) {
								localStorage.setItem("lastname", "THE GARDENER");
							} else if (arr3[0] == 3) {
								localStorage.setItem("lastname", "TEAM PLAYER");
							} else if (arr3[0] == 4) {
								localStorage.setItem("lastname", "CANINE WALKER");
							}
						} else {
							if (arr2[0] == 1) {
								localStorage.setItem("lastname", "OPEN-AIR SHOPPER");
							} else if (arr2[0] == 2) {
								localStorage.setItem("lastname", "THE GARDENER");
							} else if (arr2[0] == 3) {
								localStorage.setItem("lastname", "TEAM PLAYER");
							} else if (arr2[0] == 4) {
								localStorage.setItem("lastname", "CANINE WALKER");
							}
						}
					}
					var first_name = localStorage.getItem('first_name');
					var last_name = localStorage.getItem('last_name');
					var email = localStorage.getItem('email');
					var phone = localStorage.getItem('phone');
					var age = localStorage.getItem('age');
					var newFile = new FormData();
					newFile.append('first_name', first_name);
					newFile.append('last_name', last_name);
					newFile.append('email', email);
					newFile.append('phone', phone);
					newFile.append('age', age);
					newFile.append('ans_1', answ1);
					newFile.append('ans_2', answ2);
					newFile.append('ans_3', answ3);
					newFile.append('ans_4', answ4);
					newFile.append('ans_5', answ5);
					var opts = {
						url: 'http://localhost:3000/api/fileupload/create',
						data:   newFile,
						cache: false,
						contentType: false,
						processData: false,
						type: 'POST',
						success: function(data) {
							document.location = 'result';
						},
						error: function(data) {
							//console.log(data.file_upload.phone);
							document.location = 'result';
						}
					};
					jQuery.ajax(opts);
				});
			});
