doctype html
html(lang='en')
	head
		title Claritin
		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='css/tooltipster.bundle.css')
		link(rel='stylesheet', href='fonts/fonts.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900', rel='stylesheet')
	body
		.wrapper
			header.header
				.container.row-line.center
					.header__logo
						a(href='/')
							img(src='img/logo.png', alt='')
					.burger
						button.hamburger
							i
							i
							i
						button.cross
							i
							i
							i
					.header-menu
						ul.header-menu__list
							li.header-menu__item
								a.header-menu__link(href='/') HOME
							li.header-menu__item
								a.header-menu__link(href='/#form-block') ENTER
							li.header-menu__item
								a.header-menu__link(href='/#prizes') PRIZES
							li.header-menu__item
								a.header-menu__link(href='#') RULES
							li.header-menu__item
								a.header-menu__link(href='#') FRANCAIS
			main.page__main.main
				.container
					.single-result
						.single-result__title
							span Thank you for playing!
						.single-result__text.single-result__text--center
							p You have been entered into the Sweepstakes Draw for your
							p  chance to win* 1 of 3 $1,000 Shoppers Drug Mart gift cards.
							p
								
									| Want to take the Claritin
									sup ®
									|  
									em Get Outside 
									| Quiz again?
							p
								| Come back tomorrow to play again! Claritin
								sup ®
								|  can help you Get Outside.  One non-drowsy Claritin
								sup ®
								|  pill provides 24 hour relief from indoor and outdoor allergies.
			footer.footer
				.container
					ul.footer-menu.row-line.center
						li
							a.footer-menu__link(href='#') Rules & Regulations
						li
							a.footer-menu__link(href='#') Contact Us
						li
							a.footer-menu__link(href='https://www.claritin.ca/en/privacy-statement/') Privacy Policy
						li
							a.footer-menu__link(href='http://bayer.ca/en/general-conditions-of-use/') Terms & Conditions
						li
							a.footer-menu__link.tooltip(href='javascript:void(0);', data-tooltip-content='#tooltip_content') Site Owner
							.tooltip_templates
								#tooltip_content
									p Bayer Inc.,
									p Mississauga, ON
									p L5W 5R6
						li
							a.footer-menu__link(href='https://www.claritin.ca/') Claritin
					img.footer__logo(src='img/bayer-icon.png', alt='')
					p.footer__description To be sure this product is right for you, always read and follow the label.
					p.footer__description ©2018 Bayer Inc.
					p.footer__description L.CA.MKT.CC.02.2018.1078
			script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
			script(type='text/javascript', src='js/tooltipster.bundle.min.js')
			script(type='text/javascript', src='js/main.js')
			
