*{
	margin:0px;
	}

html,
body{
	height: 100%;
}

body{
	background: #0078b9;
	background: -moz-linear-gradient(top, #0078b9 40%, #b6d1eb 98%, #b6d1eb 100%);
	background: -webkit-linear-gradient(top, #0078b9 40%,#b6d1eb 98%,#b6d1eb 100%);
	background: linear-gradient(to bottom, #0078b9 40%,#b6d1eb 98%,#b6d1eb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0078b9', endColorstr='#b6d1eb',GradientType=0 );
}


#slider {
	height:400px;
	width:650px;
	margin: 50px auto;
	position:relative;
	border-radius:4px;
	overflow:hidden;
	}
#image {
	height:400px;
	width:650px;
	position:absolute;
	}
.left_hold {
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.right_hold {
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.left {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	left:20px;
	opacity:0;
	transition: all .2s ease-in-out 0s;
	}
.right {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	right:20px;
	opacity:0;
	transition: all .5s ease-in-out 0s;
	}
.left_hold:hover .left {
	opacity:0.6;
	}
.right_hold:hover .right {
	opacity:0.6;
}
.left:hover .left1